form-icons {
  [col-2-4]{
    padding:5px
  }
  @media (min-width:576px){
    [col-2-4]{
      padding:5px
    }
  }
  @media (min-width:768px){
    [col-2-4]{
      padding:5px
    }
  }
  @media (min-width:992px){
    [col-2-4]{
      padding:5px
    }
  }
  @media (min-width:1200px){
    [col-2-4]{
      padding:5px
    }
  }
  [col-2-4]{
    -webkit-box-flex:0;
    -webkit-flex:0 0 20%;
    -ms-flex:0 0 20%;
    flex:0 0 20%;
    width:20%;
    max-width:20%
  }

  .form {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin-left: 1px;
    margin-right: 1px;
    color: color($colors, prem-white);
    font-weight: bold;
  }

  .container {
    width: 13%;
    padding-top: 13%; /* 1:1 Aspect Ratio */
    position: relative;
  }

  @media screen and (min-width: 467px) {
    .container {
      width: 12%;
      padding-top: 12%; /* 1:1 Aspect Ratio */
      position: relative;
    }

    .form {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: 3px;
      color: color($colors, prem-white);
      font-weight: bold;
    }

    .v-center-large {
      display: flex;
      align-content: center;
      align-items: center;
    }

    .h-center-large {
      text-align: center;
    }
  }

  @media screen and (min-width: 1000px) {
    .h-center-large {
      text-align: center;
      font-size: 20px;
    }
  }

  .win {
    background-color: #44c424;
  }

  .draw {
    background-color: #5a5a5a;
  }

  .loss {
    background-color: #d00;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .tooltip .tooltiptext-left {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: -12px;
    left: 110%;
  }

  .tooltip .tooltiptext-left::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border: 5px solid transparent;
    border-right-color: black;
  }
  .tooltip:hover .tooltiptext-left {
    visibility: visible;
  }

  .tooltip .tooltiptext-right {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: -12px;
    right: 110%;
  }

  .tooltip .tooltiptext-right::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border: 5px solid transparent;
    border-left-color: black;
  }
  .tooltip:hover .tooltiptext-right {
    visibility: visible;
  }
}
