<ion-list class="grid text">
  <ion-row>
    <ion-col col-2 align-self-center>
      1 Pt.
    </ion-col>
    <ion-col col-10>
      Correct amount of goals for a team. (e.g. prediction of 2-1, final score is 2-3, 1 point will be awarded. Prediction of 3-1, final score is 2-2, 0 points will be awarded.)
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-2 align-self-center>
      3 Pts.
    </ion-col>
    <ion-col col-10>
      Correct result, plus points for correct amount of goals (if any). (e.g. prediction of 2-1, final score is 3-2, 3 points will be awarded for predicting the correct team to win.)
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-2 align-self-center>
      3 Pts.
    </ion-col>
    <ion-col col-10>
      Correct scoreline, plus points for a correct result and goals. (e.g. prediction of 2-1, final score is 2-1, 8 points will be awarded - 3 for correct scoreline, 3 for correct result, 1 for each team's correct amount of goals)
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-2 align-self-center>
      5 Pts.
    </ion-col>
    <ion-col col-10>
      Each correct team finishing position in the league (based on your predictions).
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-2 align-self-center>
      20 Pts.
    </ion-col>
    <ion-col col-10>
      The predicted winner chosen at sign-up finish as champions.
    </ion-col>
  </ion-row>
</ion-list>
