<ion-list class="grid">
  <ion-row>
    <ion-col col-2 align-self-center>
      <img src="assets/img/logo.png" class="center img-size">
    </ion-col>
    <ion-col col-10>
      Predictions for each match can be added/updated any time before the match kicks off.
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-2 align-self-center>
      <img src="assets/img/logo.png" class="center img-size">
    </ion-col>
    <ion-col col-10>
      Predictions can be changed as often as you wish.
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-2 align-self-center>
      <img src="assets/img/logo.png" class="center img-size">
    </ion-col>
    <ion-col col-10>
      Once a match kicks off, the prediction for that game will be locked in and cannot be changed.
    </ion-col>
  </ion-row>
</ion-list>
